/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.fieldElement {
    display: inline-block;
    background-color: var(--background-primary);
    box-shadow: var(--background-modifier-box-shadow) 1px 1px 2px;
    padding: 0.2em 0.8em 0.3em 0.8em;
    border-radius: 10px;
    margin: 3px;
}

.parsedFieldsContainer {
    padding: 1em;
    text-align: center;
}

.regExtractorCard {
    background-color: var(--background-primary);
    box-shadow: var(--background-modifier-box-shadow) 1px 1px 2px;
    border-radius: 5px;
    margin-top: 10px;
    display: grid; 
    grid-template-columns: 1fr 1.4fr 0.6fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
          "content content type"
}

.extractTypeNameTag {
    display: inline;
    font-size: 0.7em;
    color: var(--text-accent);
    /* background: var(--background-modifier-active-hover); */
    padding: 0.3em 0.5em;
    grid-area: type;
    text-align: right;
}

.cardMarkdownText {
    grid-area: content;
    padding: 0.5em;
}

.nav-action-button {
    display: inline-block;
    padding-right: 10px;
    color: var(--icon-color);
}

.regExtractorCard["cardtype"="qa"]:hover {
    /* transform: rotateY(180deg); */
}

.selectedPill {
    background-color: var(--color-accent-1);
}