/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/** NAVIGATION **/

.regextractor-container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.regextractor-nav-action-button, .regextractor-nav-dropdown {
}

/** LABELS **/

.regextractor-container-labels {
    padding: 1em;
    text-align: center;
}

.fieldElement {
    display: inline-block;
    background-color: var(--background-primary);
    box-shadow: var(--background-modifier-box-shadow) 1px 1px 2px;
    padding: 0.2em 0.8em 0.3em 0.8em;
    border-radius: 10px;
    margin: 3px;
    font-size: 0.8rem;
}

/** EXTRACTS **/

/* .regextractor-container-extracts {} */

.regExtractorCard {
    background-color: var(--background-primary);
    box-shadow: var(--background-modifier-box-shadow) 1px 1px 2px;
    border-radius: 5px;
    margin-top: 10px;
    display: grid; 
    grid-template-columns: 1fr 1.4fr 0.6fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
          "content content label"
          "content content info"
}

.regExtractorCardLabelArea {
    display: inline;
    font-size: 0.7em;
    color: var(--text-accent);
    /* background: var(--background-modifier-active-hover); */
    padding: 0.3em 0.5em;
    grid-area: label;
    text-align: right;
}

.cardMarkdownText {
    font-size: 0.9rem;
    grid-area: content;
    padding: 0.5em 0.5em 0.5em 1em;
}

.nav-action-button {
    display: inline-block;
    padding-right: 10px;
    color: var(--icon-color);
}

.regExtractorCard[cardtype="qa"]:hover {
    /* transform: rotateY(180deg); */
}

.selectedPill {
    background-color: var(--color-accent-1);
}

.regExtractorCard:not([cardtype="regular"])[cardside="front"] {
    border-right: solid 8px var(--color-accent-1);
}

.regExtractorCard:not([cardtype="regular"])[cardside="back"] {
    border-left: solid 8px var(--color-accent-1);
}
